<div id="outerContainer">
    <div class="loading" *ngIf="loading" style="width: 10%; margin: auto; padding: 50px">
        <img src="/assets/img/loading.gif" alt="loading" style="width: 100%;">
    </div>
    <div class="pdf-container" *ngIf="!loading">
        <pdf-viewer [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
            [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
            [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
            class="ng2-pdf-viewer"></pdf-viewer>
    </div>
</div>